@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #747373;
  overflow-x: hidden;
  font-family: sans-serif;
  font-weight: var(--fw-reg);
}
:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Merriweather", serif;

  --fw-reg: 500;
  --fw-bold: 700;
}

h1,
h2,
h4,
h3,
h5,
h6,
p,
span,
a {
  font-family: Gordita, sans-serif;
}

.button {
  font-size: 18px;
  color: #fafafa;
  font-family: "Gordita", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 16px;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #a42e4b;
  border-radius: 10px;
  white-space: nowrap;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.3);
  }
}

.active-link {
  color: #0006a8;
}
